body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color:#535353;
	min-height: 700px;
	min-width: 700px;
}

#bg img {
	position: fixed;
	height:100%;
	min-height: 700px;
}

#bg-train img {
	position: fixed;
	height:100%;
	min-height: 700px;
}


/*#fg-hide-train img {
	position: fixed;
	height:100%;
	min-height: 1025px;
}*/


.Source {
	font-family: 'Source Serif Pro', serif;
}

.Bold {
	font-weight: 700;
}


.ColorLight {
	color:#FFFFFF;
}

.FontSizeHeader {
	font-size: 7vh;
}

.FontSizeSubHeader {
	font-size: 4vh;
}

.FontSizeTitle {

}

a {
	text-decoration: none;
	color:#535353;
}

li {
	list-style:none;
}







#top-nav-bar {
	position: absolute;
	width:100%;
}

#top-nav-bar p {
	position: absolute;
	top:50%;
}

#contact {
	position: absolute;
	top:40%;
	left:150px;
}

#contact-text {
	font-size: 22px;
	display: inline-block;
	padding-left: 10px;
}


#language {
	position: absolute;
	top:40%;
	right:150px;
}

#language-text {
	font-size: 18px;
	display: inline-block;
	padding-left: 10px;
}


#left-nav-bar ul {
	position: relative;
	top:125px;
	float: left;
	left:0px;
	margin-bottom: 8px;
}

#right-nav-bar ul {
	position: absolute;
	top:50px;
	right:50px;
	margin-bottom: 150px;
}

#left-nav-bar li {
	margin-bottom: 5%;
}

#right-nav-bar li {
	margin-bottom: 10%;
}




#content-container {
	position: absolute;
	top: 10%;
	bottom:10%;
	width: 100%;
	margin: 0 auto;
}

#content {
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#navigation-container {
	margin-top: 5%;
	margin-left: auto;
    margin-right: auto;
	padding:2%;
	width: 80%;
	background-color:#E8FCFF;
	border-radius: 15px;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.424));
}


#navigation li {
	margin:2%;
}


#nav-first-row {
	margin-left: 20%;
	margin-bottom: 2%;
}

#nav-first-row a {
	list-style:none;
	font-size: 3vh;
}

#nav-second-row a {
	padding:1%;
	list-style:none;
	font-size: 3vh;
}

#nav-third-row a {
	list-style:none;
	font-size: 3vh;
}


#Alexina-titre p {
	margin:0px;
	text-align: center;
}

#Alexina-ss-titre p {
	margin:0px;
	text-align: center;
	font-style: italic;
}


