body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color:#535353;
}

#bg img {
	position: fixed;
	height:100%;
	min-height: 700px;
}

#bg-train img {
	position: fixed;
	height:100%;
	min-height: 700px;
}


/*#fg-hide-train img {
	position: fixed;
	height:100%;
	min-height: 1025px;
}*/


.Source {
	font-family: 'Source Serif Pro', serif;
}

.Bold {
	font-weight: 700;
}

.ColorLight {
	color:#FFFFFF;
}

.FontSizeHeader {
	font-size: 7vh;
}

.FontSizeSubHeader {
	font-size: 4vh;
}

.FontSizeTitle {
	font-size: 2.5vh;
}

.FontSizeParagraph {
	font-size: 1.5vh;
}

.FontSizeFormIntro {
	font-size: 2vh;
}

.FontSizeFormFields {
	font-size: 2vh;
}

.FontSizeSubParagraph {
	font-size: 1.7vh;
}

.FontLegend {
	font-size: 1.3vh;
}

.TextWithIcon {
	display: inline-block;
	padding-left: 10px;
}

.IconWithText {
	vertical-align: middle;
}

.DatePeriod {
	border-radius: 15px 0 0 15px;
	height: 100%;
	width: 5%;
	float: left;
}

.DatePeriod p {
	width: 100%;
	margin-top: 50%;
	margin-left: 10%;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(180deg);
}

.SectionTitle {
	width: auto;
	max-width: 80%;
	float: left;
	margin: 5%;
}

.BackGroundLight {
	background-color:#E8FCFF;
}

.BackGroundDark {
	background-color:#494949;
}

.BackgroundRed {
	background-color:#EA5E48;
}

.BackGroundBlue {
	background-color: #5E72DD;
}

.BackGroundPink {
	background-color: #DD5E8E;
}

.BackGroundPetrol {
	background-color: #069F9C;
}

.BackGroundOrange {
	background-color: #EB6016;
}

.BackGroundYellow {
	background-color: #EAB827;
}

.BackGroundGreen {
	background-color: #259037;
}



h1 {
	text-align: center;
	margin: 0px;
}

h2 {
	margin:0px;
	text-align: center;
	font-style: italic;
}

a {
	text-decoration: none;
	color:#535353;
}

li {
	list-style:none;
}

p {
	margin: 0px;
	line-height: 1.5;
}

label {
	font-weight: 300;
}

#container {
	position: absolute;
	width: 100%;
	min-width: 1360px;
	min-height: 700px;
}

#top-nav-bar {
	position: absolute;
	width:100%;
}

#top-nav-bar p {
	position: absolute;
	top:50%;
}

#contact {
	position: absolute;
	top:40%;
	left:150px;
}

#contact-text {
	font-size: 22px;
}

#language {
	position: absolute;
	top:40%;
	right:150px;
}

#language-text {
	font-size: 18px;
}

#left-nav-bar {
	position: relative;
	top:125px;
	float: left;
	left:0px;
	margin-bottom: 8px;
}

#right-nav-bar {
	position: absolute;
	top:50px;
	right:50px;
	margin-bottom: 150px;
}

#left-nav-bar li {
	margin-bottom: 5%;
}

#right-nav-bar li {
	margin-bottom: 10%;
}

#content-container {
	position: absolute;
	top: 10%;
	bottom:10%;
	width: 100%;
	margin: 0 auto;
}

#content {
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#scroll-content {
	overflow: scroll;
	margin-top: 4%;
	height: 65vh;
}


/*Specific to home page*/

.HomeGridWrapper {
	display: grid;
	grid-template-columns: repeat(2, 20%) repeat(4, 15%);
  	grid-template-rows: repeat(3, 100px); 
  	grid-row-gap: 10px;
  	justify-content: center;
}

.HomeGridElemOne {
	grid-column: 2 / span 2;
  	grid-row-start: 1;
  	justify-self:center;
  	align-self: center;
}

.HomeGridElemTwo {
	grid-column: 4 / span 2;
  	grid-row-start: 1;
  	justify-self:center;
  	align-self: center;
}

.HomeGridElemThree {
	grid-column: 1 / span 2;
  	grid-row-start: 2;
  	justify-self:start;
  	align-self: center;
}

.HomeGridElemFour {
	grid-column: 3 / span 2;
  	grid-row-start: 2;
  	justify-self:start;
  	align-self: center;
}

.HomeGridElemFive {
	grid-column: 5 / span 2;
  	grid-row-start: 2;
  	justify-self:start;
  	align-self: center;
}

.HomeGridElemSix {
	grid-column: 1 / span 2;
  	grid-row-start: 3;
  	justify-self:start;
  	align-self: center;
}

.HomeGridElemSeven {
	grid-column: 3 / span 2;
  	grid-row-start: 3;
  	justify-self:start;
  	align-self: center;
}

.HomeGridElemEight {
	grid-column: 5 / span 2;
	grid-row-start: 3;
  	justify-self:start;
  	align-self: center;
}

#navigation-container {
	margin-top: 7%;
	margin-left: auto;
    margin-right: auto;
	padding:1%;
	width: 70%;
	border-radius: 15px;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.24));
}




/*Specific to Presentation page*/

.PresGridWrapper {
	display: grid;
	grid-template-columns: repeat(2, 45%);
  	grid-template-rows: repeat(6, 15%); 
  	grid-column-gap: 3%;
  	justify-content: center;
}

.PresGridElemOne {
	grid-column: 1;
  	grid-row-start: 1;
  	justify-self:start;
  	align-self: end;
}

.PresGridElemTwo {
	grid-column: 1;
  	grid-row-start: 2;
  	justify-self:stretch;
  	align-self: start;
}

.PresGridElemThree {
	grid-column: 1;
  	grid-row-start: 3;
  	justify-self:stretch;
  	align-self: end;
}

.PresGridElemFour {
	grid-column: 1;
  	grid-row-start: 4;
  	justify-self:stretch;
  	align-self: start;
}

.PresGridElemFive {
	grid-column: 1;
  	grid-row-start: 5;
  	justify-self:stretch;
  	align-self: end;
}

.PresGridElemSix {
	grid-column: 1;
  	grid-row-start: 6;
  	justify-self:stretch;
  	align-self: start;
}

.PresGridElemSeven {
	grid-column: 2;
  	grid-row-start: 1;
  	justify-self:stretch;
  	align-self: end;
}

.PresGridElemEight {
	grid-column: 2;
  	grid-row-start: 2;
  	justify-self:stretch;
  	align-self: start;
}

.PresGridElemNine {
	grid-column: 2;
  	grid-row-start: 3;
  	justify-self:stretch;
  	align-self: end;
}

.PresGridElemTen {
	grid-column: 2;
  	grid-row-start: 4 / span 3;
  	justify-self:stretch;
  	align-self: start;
}

.QuoteLeft {
	justify-self:start;
  	align-self: start;
}

.QuoteRight {
	justify-self:end;
  	align-self: end;
}

#presentation-container {
	width: 100%
}

#photo-presentation {
	display: inline-block;
	margin-top: 10%;
	margin-left: 3%;
	width: 25%;
}

#photo-presentation img {
	width: 100%;
}

#presentation-text-container {
    float: right;
	margin-top: 4%;
    margin-right: 0%;
	width: 70%;
	border-radius: 15px;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.24));
}



/*Specific to Form page*/

.Form {
	width: 90%;
	height: 100%;
	margin-top: 4%;
	margin-left: auto;
	margin-right: auto;
}

.FormField {
	display: inline-block;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.FormField p {
	float: left;
	width: 20%;
}

.FormField input {
	margin-right: 0;
	width: 75%;
	padding: 1%;
}

.Form textarea {
	margin-top: 5%;
	width: 100%;
	height: 7vh;
	min-height: 70px;
	overflow: scroll;
}

#form-button {
	width: 18%;
	margin-top: 5%;
	margin-left: 0px;
	margin-right: auto;
}

#send-button {
    background-color: #494949;
    border-radius:7px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

#send-button:hover {
    background:#EB600D;
}

#form-fields {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

#form-container {
	margin-top: 4%;
	margin-right: auto;
	margin-left: auto;
	padding-top:4%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	width: 65%;
	border-radius: 15px;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.24));
}

#form-intro p {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width:90%;
}

#attachment-input {
	display:none;
	cursor: pointer;
}

#form-attachment label {
	cursor: pointer;
	font-style: italic;
}

#form-attachment {
	margin-top: 1%;
	float: right;
}




/*Specific to Professional Experience page*/

.ProGridWrapper {
	display: grid;
	grid-template-columns: repeat(2, 45%);
  	grid-template-rows: 21vh repeat(3, 20vh); 
  	grid-column-gap: 3%;
  	grid-row-gap: 2%;
  	justify-content: center;
}

.ProGridElemOne {
	grid-column: 1;
  	grid-row-start: 1;
  	justify-self:end;
  	align-self: end;
}

.ProGridElemTwo {
	grid-column: 1;
  	grid-row-start: 2;
  	justify-self:end;
  	align-self: end;
}

.ProGridElemThree {
	grid-column: 2;
  	grid-row-start: 2;
  	justify-self:end;
  	align-self: end;
}


.ProGridElemFour {
	grid-column: 1;
  	grid-row-start: 3;
  	justify-self:end;
  	align-self: end;
}

.ProGridElemFive {
	grid-column: 2;
  	grid-row-start: 3;
  	justify-self:end;
  	align-self: end;
}

.ProGridElemSix {
	grid-column: 1;
  	grid-row-start: 4;
  	justify-self:end;
  	align-self: end;
}

.ProGridElemSeven {
	grid-column: 2;
  	grid-row-start: 4;
  	justify-self:end;
  	align-self: end;
}

.ExpBlock {
	width: 100%;
	height: 100%;
	min-height: 100px;
	display: inline-block;
	border-radius: 15px;
}

.ExpTitle {
	width: 55%;
	margin-top: 2%;
	margin-bottom: 3%;
	margin-right: 2%;
	float: right;
}

.ExpLogo {
	width: 35%;
	float: left;
	margin-top: 5vh;
	margin-bottom: auto;
	margin-left: 3%;
}

.ExpLogoDefault img {
	margin-left: 25%;
	width: auto;
	height: auto;
}

.ExpLogoCompany img {
	margin-left: 8%;
	max-height: 12vh;
	width: 80%;
	height: 10%;
}

.ProExpGridWrapper {
    width: 55%;
    float: right;
    display: grid;
    grid-template-columns: 10% 80% 5%;
    grid-template-rows: repeat(3, 33%);
    grid-row-gap: 10%;
    grid-column-gap: 3%;
}

.ProExpGridWrapper a {
    display: inline-block;
}

.ProExpElemOne {
	grid-column-start: 1;
  	grid-row-start: 1;
  	justify-self:middle;
  	align-self: middle;
}

.ProExpElemTwo {
	grid-column-start: 2;
  	grid-row-start: 1;
  	justify-self:middle;
  	align-self: end;
}

.ProExpElemThree {
	grid-column-start: 3;
  	grid-row-start: 1;
  	justify-self:middle;
  	align-self: end;
}

.ProExpElemFour {
	grid-column-start: 1;
  	grid-row-start: 2;
  	justify-self:middle;
  	align-self: middle;
}

.ProExpElemFive {
	grid-column-start: 2;
  	grid-row-start: 2;
  	justify-self:middle;
  	align-self: end;
}

.ProExpElemSix {
	grid-column-start: 3;
  	grid-row-start: 2;
  	justify-self:middle;
  	align-self: end;
}

.ProExpElemSeven {
	grid-column-start: 1;
  	grid-row-start: 3;
  	justify-self:middle;
  	align-self: middle;
}

.ProExpElemEight {
	grid-column-start: 2;
  	grid-row-start: 3;
  	justify-self:middle;
  	align-self: end;
}

.ProExpGridWrapper img {
	max-width: 3vh;
	width: auto;
	height: auto;
}





/*Specific to Skills page*/

.CircleBlue {
	background-color: #035A91;
}

.CircleGreen {
	background-color: #249103;
}

.CircleYellow {
	background-color: #D8CF00;
}

.CircleOrange {
	background-color: #E59600;
}

.CircleRed {
	background-color: #D83403;
}

.CircleGrey {
	background-color: #535353;
}

.Circle {
    border-radius: 50%;
    width: 1.5vh;
    height: 1.5vh;
}

.SkillGridWrapper {
	display: grid;
	grid-template-columns: repeat(3, 30%);
  	grid-template-rows: repeat(2, 50%); 
  	grid-column-gap: 2%;
  	grid-row-gap: 2%;
  	justify-content: center;
  	margin-top: 2%;
}

.SkillGridElemOne {
	width: 100%;
	height: 80%;
	border-radius: 15px;
	grid-column: 1;
  	grid-row: 1 / span 2;
  	justify-self:start;
  	align-self: start;
}

.SkillGridElemTwo {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 15px;
	grid-column: 2;
  	grid-row-start: 1;
  	justify-self:start;
  	align-self: start;
}

.SkillGridElemThree {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 15px;
	grid-column: 2;
  	grid-row-start: 2;
  	justify-self:start;
  	align-self: start;
}

.SkillGridElemFour {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 15px;
	grid-column: 3;
  	grid-row-start: 1;
  	justify-self:start;
  	align-self: start;
}

.SkillGridElemFive {
	width: 100%;
	height: 100%;
	position: relative;
	border-radius: 15px;
	grid-column: 3;
  	grid-row-start: 2;
  	justify-self:start;
  	align-self: start;
}

.SkillContextImage {
	position: absolute;
	float: right;
	top: 5%;
	right: 5%;
}

.SkillListGridWrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 3% 97%;
  	grid-template-rows: auto auto auto auto;
  	grid-gap: 4%;
}

.SkillListGridElemOne {
	border-radius: 15px;
	grid-column: 1;
  	grid-row: 1;
}

.SkillListGridElemTwo {
	grid-column: 2;
  	grid-row: 1;
  	justify-self:start;
  	align-self: start;
}

.SkillListGridElemThree {
	border-radius: 15px;
	grid-column: 1;
  	grid-row: 3;
}

.SkillListGridElemFour {
	grid-column: 2;
  	grid-row: 3;
  	justify-self:start;
  	align-self: start;
}

.SkillListGridElemFive {
	border-radius: 15px;
	grid-column: 1;
  	grid-row: 5;
}

.SkillListGridElemSix {
	grid-column: 2;
  	grid-row: 5;
  	justify-self:start;
  	align-self: start;
}

.SkillListGridElemSeven {
	border-radius: 15px;
	grid-column: 1;
  	grid-row: 7;
}

.SkillListGridElemEight {
	grid-column: 2;
  	grid-row: 7;
  	justify-self:start;
  	align-self: start;
}


#skill-level-legend {
	width: 100%;
	margin-top: 4%;
	margin-left: 10%;
	display: inline-block;
}

#skill-level-legend div {
	display: inline-block;
}

#skill-level-legend p {
	margin-right: 3%;
}

#icon-computer {
	position: relative;
	float: right;
	top: -25%;
	right: 5%;
}


/*Specific to Blur Overlay and Overlay Window*/

#overlay {
	display: none;
	position: fixed;
	height:100%;
	width: 100%;
}


.Blur {
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	position: fixed;
	height:100%;
	width: 100%;
}

.OverlayWindow {
	border-radius: 15px;
	position: absolute;
	width: auto;
	height: auto;
	min-height: 30vh;
	min-width: 50vh;
	max-width: 50vh;
	margin-right: auto;
	margin-left: 30%;
	margin-top: 15%;
	padding: 1%;
	filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.24));
}

.SectionContent {
	padding-top:2%;
	padding-bottom: 2%;
}

.SectionContent ul {
	margin-top:2%; 
	padding-left:8%;
}

.SectionContent li {
	list-style: disc !important; 
}

.Close {
	position: relative;
	z-index: 100;
	float: right;
}

.SectionQuoteLeft {
	position: absolute;
	top: 10%;
}

.SectionQuoteRight {
	position: absolute;
	right: 5%;
	bottom: 10%;
}




/*Specific to Achivements page*/

.AchiveGridWrapper {
	margin-top: 5%;
	display: grid;
	grid-template-columns: repeat(2, 50%) ;
  	grid-template-rows: 60vh; 
  	grid-column-gap: 3%;
  	/*overflow-x: scroll;*/
}

.AchiveGridElemOne {
	border-radius: 15px;
	width: 100%;
	height: 100%;
	grid-column: 1;
  	justify-self:center;
  	align-self: center;
}

.AchiveGridElemTwo {
	border-radius: 15px;
	width: 100%;
	height: 100%;
	grid-column: 2;
  	justify-self:center;
  	align-self: center;
}

.DescriptionBlock {
	border-radius: 15px;
	margin-top: 20%;
	width: 80%;
	height:40%; 
	max-height: 20vh;
	margin-right: auto;
	margin-left: auto;
	border:1px solid rgba(83, 83, 83, 0.5);
	padding:2%;
	overflow: scroll;
}

.DescriptionBlock li {
	list-style: disc !important;
}

.LinkedContentGridWrapper {
	display: grid;
	grid-template-columns: 15% 80%;
  	grid-template-rows: repeat(2, 50%); 
  	grid-column-gap: 2%;
  	grid-row-gap: 10%;
	margin-top: 5%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.LinkedContentGridElemOne {
	grid-column: 1;
	grid-row: 1;
  	/*justify-self:center;*/
  	align-self: start;
}

.LinkedContentGridElemTwo {
	grid-column: 2;
	grid-row: 1;
  	/*justify-self:center;*/
  	align-self: start;
}

.LinkedContentGridElemThree {
	grid-column: 1;
	grid-row: 2;
  	/*justify-self:center;*/
  	align-self: start;
}

.LinkedContentGridElemFour {
	grid-column: 2;
	grid-row: 2;
  	/*justify-self:center;*/
  	align-self: start;
}

.LinkedContentTitle {
	border-radius: 5px;
	width: 100%;
	float: left;
	text-align: center;
	/*margin-right: 3%;*/
}

/*.ScrollOuterWrapper {
	width: 100vh;
	height: 100vh;
	transform: rotate(-90deg) translate(-100vh);
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
}

.ScrollInnerWrapper {
	display: flex;
	flex-direction: row;
	width: 200vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}*/
